# Configuration file

~CONFIG_VERSION: SimpleMods Config

armorstatushud {
    B:"Align armor horizontally"=false
    B:"Enable ArmorStatusHud"=false
    I:"Space between each armor piece"=5
    D:armorstatus_X=0.9708333333333333
    D:armorstatus_Y=0.025925925925925925
}


directionhud {
    B:"Enable DirectionHud"=false
    D:directionhud_X=0.975
    D:directionhud_Y=0.0
}


statuseffecthud {
    B:"Enable StatusEffectHud"=true
    B:"Render background of potion effects"=false
    B:"Render effects from top to bottom"=true
    D:"Scaling of the potion effects (default: 1.0)"=1.0
    B:"Show effect duration"=true
    B:"Show effect icon"=true
    B:"Show effect name"=true
    D:statuseffect_X=0.0
    D:statuseffect_Y=0.29259259259259257
}


togglesprint {
    B:"Enable ToggleSprint upon start"=true
    S:"Name shown on the screen when activated"=&bSprinting
    D:togglesprint_text_X=0.0
    D:togglesprint_text_Y=0.9814814814814815
}


